

<div class="chips-container">
  <h1>Buy your credits</h1>
</div>
  <div class="row col-12 col-lg-12 img-center">
    <% @chips.each do |chip| %>

      <div class="chips-card" style="width: 20%;  margin: 5">
        <%= form_tag orders_path, method: :post, class: "foorm" do %>
          <%= hidden_field_tag 'chip_id', chip.id %>
          <button type="submit" class="img-center">
            <%= image_tag chip.image_url, class: "card-img-top" %>
          </button>
          <div class="img-center">
            <h5 class="card-title"><p>Amount: R$ <%= chip.name %></p></h5>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
