<p> Description: <%= @bet.description %></p>

<p> Amount: <%= @bet.amount %></p>



    <%#
    t.string "description", null: false
    t.integer "amount", null: false
    t.datetime "start_date", null: false
    t.datetime "end_date", null: false
    t.boolean "result"
    t.string "status", null: false
    t.integer "max_users", null: false
    t.bigint "user_id", null: false
    %>
