      <header class="header" id="header">
          <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
          <div class="header_img">   <% if current_user && current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar-profile"  %>
              <% else %>
                <%= image_tag "avatar.jpg", class: "avatar-profile" %>
              <% end %>
               </div>
      </header>
      <div class="l-navbar" id="nav-bar">
          <nav class="nav">
              <div> <a class="nav_logo", id="nave_logo"> <i class="fa-solid fa-coins"></i> <span class="nav_logo-name">WeBet</span> </a>
              <div>
              <div class="nav_list">
                <a href="/bets" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a>
                <% if current_user %>
                  <a href="/users/<%= current_user.id %>/wallet" class="nav_link"> <i class='fas fa-wallet'></i> <span class="nav_name">Wallet</span> </a>
                <% else %>
                  <% link_to new_user_session_path %>
                <% end %>
                <a href="/bets/new" class="nav_link"> <i class='fa-solid fa-plus'></i> <span class="nav_name">Create a Bet</span> </a>
                <a href="/chips" class="nav_link"> <i class='fa-solid fa-cart-shopping'></i> <span class="nav_name">Buy chips</span> </a>
                </div>
              <div class="item">
                <%= link_to destroy_user_session_path, data: { "turbo-method": :delete }, class: "nav_link" do %>
                  <i class='bx bx-log-out nav_icon'></i>
                  <span class="nav_name">Sign Out</span>
                <% end %>
              </div>
          </nav>
      </div>

      <!--Container Main start-->
      <div>
          <h4>Main Components</h4>
      <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(event) {

      const showNavbar = (toggleId, navId, bodyId, headerId) =>{
      const toggle = document.getElementById(toggleId),
      nav = document.getElementById(navId),
      bodypd = document.getElementById(bodyId),
      headerpd = document.getElementById(headerId)


      if(toggle && nav && bodypd && headerpd){
      toggle.addEventListener('click', ()=>{

      nav.classList.toggle('show')

      toggle.classList.toggle('bx-x')
      bodypd.classList.toggle('body-pd')
      headerpd.classList.toggle('body-pd')
      })
      }
      }

      showNavbar('header-toggle','nav-bar','body-pd','header')

      const linkColor = document.querySelectorAll('.nav_link')

      function colorLink(){
      if(linkColor){
      linkColor.forEach(l=> l.classList.remove('active'))
      this.classList.add('active')
      reset()
      }
      }
      linkColor.forEach(l=> l.addEventListener('click', colorLink))

      });
    </script>

    <!--Container Main end-->
    <%# <script type="text/javascript">

        $(document).ready(function(){

          $('.sub-btn').click(function(){
            $(this).next('.sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('rotate');
          });

           $('.menu-btn').click(function(){
            $('.side-bar').addClass('active');
            $('.menu-btn').css("visibility", "hidden");
          });

           $('.close-btn').click(function(){
            $('.side-bar').removeClass('active');
            $('.menu-btn').css("visibility", "visible");
          });

           $('.menu-btn').click(function(){
            $('.side-bar').addClass('d-block');
            $('.menu-btn').css("visibility", "hidden");
          });

           $('.close-btn').click(function(){
            $('.side-bar').removeClass('d-block');
            $('.menu-btn').css("visibility", "visible");
          });

        });
    </script> %>
