<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8" ></script>
  <link rel="stylesheet" href="style.css">

  <title>WeBet</title>
</head>
<body>
    <header>
      <nav>

      <div>
      </div>
        <div class="menu-btn">
          <i class="fas fa-bars"></i>
        </div>
        <div class="side-bar active">
          <div class="close-btn">
            <i class="fas fa-times"></i>
          </div>
          <div class="menu">
            <div class="title-brand"><a>WeBet</a></div>
            <div class="avatar"><img src="app/assets/images/avatar.jpg" alt="avatar"></div>
            <div class="money"><i class="fas fa-money-bill"></i>R$0,00</div>
            <div class="item"><a href="index.html"><i class="fas fa-desktop"></i>Dashboard</a></div>
            <div class="item"><a href="users/sign_in"><i class="fas fa-table"></i>Create a Bet</a></div>
            <div class="item"><a href="users/sign_in"><i class="fas fa-wallet"></i>Wallet</a></div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="item"><a href="users/sign_in"><i class="fas fa-cogs"></i>Login(temporario)</a></div>
            <div class="item"><a href="users/sign_out"><i class="fas fa-angle-right"></i>Logout</a></div>
        </div>

      </nav>
    </header>

    <script type="text/javascript">
        $(document).ready(function(){

          $('.sub-btn').click(function(){
            $(this).next('.sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('rotate');
          });

          $('.menu-btn').click(function(){
            $('.side-bar').addClass('active');
            $('.menu-btn').css("visibility", "hidden");
          });

          $('.close-btn').click(function(){
            $('.side-bar').removeClass('active');
            $('.menu-btn').css("visibility", "visible");
          });

        });
    </script>

</body>
</html>
