<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="style.css">

  <title>Document</title>
</head>
<body>
    <div class="container">
      <div class="banner">
      <%= image_tag("imagem_homepage.jpg", class: "img-fluid", alt: "amigos se divertindo",) %>
      </div>
        <div class="w-100 d-flex justify-content-center">
        <h1>WeBet</h1>
      </div>
</div>
</body>
</html>
