<!-- app/views/payments/new.html.erb -->
<div class="container">
  <div class="payment-card">
    <div class="card text-center">
      <div class="card-header">
        <h1>Checkout</h1>
      </div>
      <div class="card-body">
        <p>Purchase of <strong><%= @order.chip.name %></strong> for <strong><%= humanized_money_with_symbol @order.amount %></strong></p>
      </div>
    </div>
    <div class="d-grid gap-2">
      <button id="pay" class="btn btn-primary">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
