.banner {
  width: 100vh;
  height: 100vh;
  background-position: center;
  position: fixed;
  right: 0;
  border: 5px;
  border-color: black;
  top:0;
  z-index: -1;
}

.banner-home {
  position: fixed;
  width: 100%;
  z-index: 998;
  padding-right: 200px;
  background: url(images/imagem_homepage2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
