.btn-primary {
  background-color: #FF0032 !important;
  border-color: #FF0032 !important;
  outline-color: #FF0032 !important;
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}
.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}
.btn-outline-info {
  color: #17a2b8;
  border-color: #17a2b8;
}
.btn-block {
  display: block;
  width: 100%;
  margin: 8px;
}
