// FONTS
.balance-card {
  h1 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 56px;
  line-height: 56px;
  color: #FF0032;
  }

  h5 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #627084;
  }

  p {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #627084;
  }

  a {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
  }
}

.card-header {
  h1 {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 56px;
    color: #FF0032;
  }
}
///////////////////////////////////////////////////

.wallet-form-control {
  position: relative;
  width: 100%;
  height: 38px;
  // padding: 10px;
  color: hsl(0, 0, 20);
  border-radius: 5px;
  font-size: 15px;
  outline: none!important;
  border: 1px solid hsla(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

.withdraw-form-control {
  position: relative;
  width: 100%;
  height: 38px;
  color: hsl(0, 0, 20);
  // padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none!important;
  border: 1px solid hsla(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
}

.withdraw-select {
  position: relative;
  width: 100%;
  height: 38px;
  color: hsl(0, 0, 20);
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none!important;
  border: 1px solid hsla(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);

  &::after {
    content: '';
    border-top: 8px solid #222;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    z-index: 2;
    top: 14px;
    right: 10px;
    pointer-events: none;
  }

  select {
    appearance: none;
    position: absolute;
    padding: 0;
    border: none;
    width: 100%;
    outline: none!important;
    top: 8px;
    left: 6px;
    background: none;
      option {
        font-family: Poppins, sans-serif!important;
        font-weight: 500;
        font-size: 12px;
        color: #627084;
      }
  }
}

.wallet-form-label {
  display: block;
  text-transform: uppercase;
  color: hsla(0, 0, 0, .6);
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #627084;
}

.withdraw-label {
  label {
  display: block;
  text-transform: uppercase;
  color: hsla(0, 0, 0, .6);
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Poppins, sans-serif!important;
  font-weight: 500;
  font-size: 12px;
  color: #627084;
  }
}

.btn-primary {
  font-family: Poppins, sans-serif!important;
  font-weight: 500!important;
  font-size: 16px;
  color: #FFFFFF;
}
